body {
    margin: 0;
    background-color: #264653;
}

H1 {
    background-image: url("basketball\,.jpg");
    text-align : center;
    font-size: 60px;
    align-items: center;
    color: rgb(73, 128, 0);
    width: 430px;
    height: 250px;
    text-shadow : 2px 2px white;
  
    background-size: cover;
    display: flex;
    margin-left: auto;
    margin-right: auto;

    
    
 
}

.container {
    display: flex;
    justify-content: space-around;
}
h3 {
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-shadow: 3px 3px black;
}
#count-el{
    width: 150px;
    height: 200px;
   background: black;
 color: darkred;
 font-size: 70px;
 font-weight: bold;
 text-shadow: .5px .5px white;
 border-color: #04AA6D;
}

#count1-el{
    width: 160px;
    height: 200px;
   background: black;
 color: darkred;
 font-size: 70px;
 font-weight: bold;
 text-shadow: .5px .5px white;
 border-color: #04AA6D;

}

#btn-el{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
  
}

#score-el{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;

    
}

#one {
font-weight: bold;
color: red;
background: black;
text-shadow: .2px .2px white;

}

#two {
    font-weight: bold;
    color: red;
    background: black;
    text-shadow: .2px .2px white;
    
    }

    #three {
        font-weight: bold;
        color: red;
        background: black;
        text-shadow: .2px .2px white;
        
        }
    
